{% extends 'core/base.html' %}

{% block scripts %}
<script>
    function eliminar_familia(id){
        Swal.fire({
            "title":'¿Desea eliminar la familia seleccionada?',
            "text": 'una vez eliminado no se puede deshacer el cambio',
            "icon": 'question',
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Aceptar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545",
            "cancelButtonColor": "#198754"
        })
        .then(function(result){
            
            if(result.isConfirmed){
                window.location.href= "/eliminarfamilia/"+id+"/"
            }


        })

    }


</script>
{% endblock %}

{% block contenido %}

{% load crispy_forms_tags %}
{% load humanize %}

<div class="col-12 ">
    
    <div class="d-flex justify-content-between">
        <h3 class="">Listado de Familias</h3>
        <a href="{% url 'nueva_familia' %}" class="btn btn-outline-primary">Agregar Familia</a>
        
    </div>
    <hr>
    <div class="container-fluid d-flex text-center justify-content-center align-items-center" style="width: 80%; background-color: rgba(43,43,43,0.8);">
        <div class="card-body">            
            <table class="table table-stripped table-responsive-sm clearfix justify-content-center" style="color: white;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Opciones</th>
                        <th></th>
                        

                    </tr>
                </thead>
                <tbody>
                    {% for f in familia %}
                    <tr valign="middle" align="center">
                        <td>{{ f.id }}</td>
                        <td>{{ f.nombre }}</td>
                        <td>{{ f.categoria }}</td>
                        <td scope="row">
                            <a href="{% url 'modificar_familia' f.id %}" class="btn btn-outline-primary">Modificar</a>
                        </td>
                        <td>
                            <a href="#" onclick="eliminar_familia({{ f.id }})" class="btn btn-outline-secondary">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

            <div>
                {% include 'core/paginator.html' %}
            </div>
        </div>
    </div>


</div>

{% endblock %}