{% extends 'core/base.html' %}

{% block contenido %}

{% load crispy_forms_tags %}

<div class="col-12 ">

    <div class="d-flex justify-content-center">
        <h3 class="">Agregar Producto</h3>

    </div>
    <hr>
    <div class="container-fluid d-flex" style="width: 80%; background-color: rgba(43,43,43,0.8);">

        <div class="card-body d-flex justify-content-center">
            <form class="" style="width: 60%;" action="" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                {{form | crispy}}

                <hr>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-outline-secondary" href="{% url 'home' %}">Cancelar</a>
                    &nbsp;
                    <button type="submit" id="btnGuardar" class="btn btn-outline-primary">Guardar</button>
                </div>
            </form>
            {{mensaje}}
        </div>
    </div>
</div>
{% endblock %}