<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MusicPRO</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <script type="text/javascript">
    var user = '{{request.user}}'

    function getToken(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getToken('csrftoken')

  </script>
  {% block css %}
  {% endblock %}

  {% block head %}
  {% endblock %}
</head>

<body id="intro" class="bg-image shadow-2-strong">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/img/LOGITO2.png' %}" height="60"
        alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categorias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'prodCuerdas' %}">Instrumentos de cuerdas</a>
            <a class="dropdown-item" href="{% url 'prodPianos' %}">Pianos</a>
            <a class="dropdown-item" href="{% url 'prodBaterias' %}">Baterias</a>
            <a class="dropdown-item" href="{% url 'prodAmplificador' %}">Amplificadores</a>
            <a class="dropdown-item" href="{% url 'accesorios' %}">Accesorios varios</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
        </li>
        {% if perms.core.view_producto %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Administrar
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'listar_producto' %}">Productos</a>
            <a class="dropdown-item" href="{% url 'listar_categoria' %}">Categorías</a>
            <a class="dropdown-item" href="{% url 'listar_familias' %}">Familias</a>
            <a class="dropdown-item" href="{% url 'listar_proveedor' %}">Proveedores</a>
          </div>
        </li>


        {% endif %}



        
      </ul>
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <a class="nav-link" href="{% url 'cart' %}">
          <img id="cart-icon" src="{% static 'images/cart.png' %}" alt="carrito" />
        </a>
        <p id="cart-total">{{importe_cant_carro}}</p>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Usuario: {{ user.username |title }}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Iniciar Sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
        </li>
        {% endif %}
        
      </ul>
      
    </div>
  </nav>
  {% block jumbotron %}

  {% endblock %}

  <div class="contenedorprincipal d-flex">
    {% block contenido %}

    {% endblock %}
  </div>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/moneda.js' %}"></script>
  <script src="{% static 'js/cart.js' %}"></script>

  {% block scripts %}
  {% endblock %}




  {% if messages %}
  {% for m in messages %}
  <script>
    Swal.fire(

      "",
      "{{m}}",
      "success"
    )


  </script>
  {% endfor %}
  {% endif %}

  <footer class="text-center text-lg-start">
    <div class="container d-flex justify-content-center py-5">
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-facebook-f"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-youtube"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-instagram"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-twitter"></i>
      </button>
    </div>
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021
      <a class="text-white" href="{% url 'home' %}">MusicPRO</a>
    </div>
  </footer>
</body>

</html>