{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}
{% block contenido %}

<div class="carro.css/row">
    <div class="carro.css/col-lg-12">
        <div class="box-element">
            <table class="table">
                <tr>
                    <th><h5>Cantidad Total: <strong>{{importe_cant_carro | intcomma}}</strong></h5></th>
                    <th><h5>Precio Total: <strong>$ {{importe_total_carro | intcomma}}</strong></h5></th>
                    <th>
                        <a style="float:right; margin:5px;" class="btn btn-success" href="{% url "carro:limpiar" %}">Limpiar carrito
                        </a>
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="box-element">
        <div class="cart-row">
            <div style="flex:2"></div>
            <div style="flex:2"><strong>Item</strong></div>
            <div style="flex:1"><strong>Cantidad</strong></div>
            <div style="flex:1"><strong>Total</strong></div>
        </div>

        {% if request.session.carro.items %}
            {% for key, value in request.session.carro.items %}
                <div class="cart-row">
                    <div style="flex:2">
                    <img class="row-image" src="{{value.imagen}}"></div>
                    <div style="flex:2">{{value.nombre}}</div>
                    <div style="flex:1">
                        <p class="quantity">{{value.cantidad}}</p>
                        <div class="quantity">
                            <a href="{% url 'carro:agregar' value.producto_id %}"><img class="chg-quantity" src="{% static 'images/arrow-up.png' %}"></a>
                            <a href="{% url 'carro:restar' value.producto_id %}"><img class="chg-quantity" src="{% static 'images/arrow-down.png' %}"></a>
                        </div>
                        <a style="float: right; padding-right: 180px;" href="{% url 'carro:eliminar' value.producto_id %}"><img class="chg-quantity" src="{% static 'images/basurita.png' %}"></a>
                    </div>
                    <div style="flex:1">$ {{value.precio | intcomma}}</div>
                </tr>
                </div>
            {% endfor %}
        {% else %}
            <tr>
              <td colspan="3">
                <div class="alert alert-danger text-center">
                  Sin productos
                </div>
              </td>
            </tr>
        {% endif %}
        {{mensaje}}
        <form method="POST" enctype="multipart/form-data" action="{{resultado.url}}?token_ws={{resultado.token}}">
            <input type="hidden" name="precio_total" value="{{importe_total_carro}}">
            <input type="hidden" name="token_ws" value="{{resultado.token}}" disabled>
            <input type="submit"  value="Pagar" class="btn btn-success">   
        </form>
    </div>
</div>

{% endblock %}